### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [4]:
player_count = purchase_data["SN"].value_counts().count()
players = purchase_data.groupby("SN")

player_count

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
grouped_items = purchase_data.groupby(["Item ID"])
average_price = purchase_data["Price"].mean()

unique_items =  pd.DataFrame({
    "Item Name": grouped_items["Item Name"].first(),
    "Times Purchased": grouped_items["Item ID"].count(),
    "Price": grouped_items["Price"].first(),
    "Average Age of Purchaser": grouped_items["Age"].mean(),
})

unique_items.Price = unique_items.Price.map("${:.2f}".format)
unique_items["Average Age of Purchaser"] = unique_items["Average Age of Purchaser"].map("{:.1f}".format)
game_data = pd.DataFrame([
    {
        "unique_items":unique_items
    }
    ]
)

unique_items.head()

                  Item Name  Times Purchased  Price Average Age of Purchaser
Item ID
0                  Splinter                4  $1.28                     18.5
1                  Crucifer                3  $3.26                     22.3
2                   Verdict                6  $2.48                     23.8
3              Phantomlight                6  $2.49                     25.8
4        Bloodlord's Fetish                5  $1.70                     24.8

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
def toPct(count, total):
    return f"{round(count / total * 100,2)}%"

#get unique users
grouped_by_user = purchase_data.groupby(["SN"])

unique_users =  pd.DataFrame({
    "User Name": grouped_by_user["SN"].first(),
    "Gender": grouped_by_user["Gender"].first(),
    "Age": grouped_by_user["Age"].first(),
})

gender_counts = unique_users["Gender"].value_counts()

gender_demographics = {
    "Male": toPct(gender_counts["Male"],player_count),
    "Female": toPct(gender_counts["Female"],player_count),
    "Other / Non-Disclosed": toPct(gender_counts["Other / Non-Disclosed"],player_count),
}
gender_demographics

{'Male': '84.03%', 'Female': '14.06%', 'Other / Non-Disclosed': '1.91%'}


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
grouped_by_gender = purchase_data.groupby(["Gender"])

gender_analysis =  pd.DataFrame({
    "Purchase Count": grouped_by_gender["Gender"].count(),
    "Average Price": grouped_by_gender["Price"].mean().map("${:.2f}".format),
    "Average Purchase Total": round(grouped_by_gender["Gender"].count() / gender_counts,2)
})
#print(gender_counts)
gender_analysis

                       Purchase Count Average Price  Average Purchase Total
Gender
Female                            113         $3.20                    1.40
Male                              652         $3.02                    1.35
Other / Non-Disclosed              15         $3.35                    1.36

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [8]:
max_age = purchase_data["Age"].max()
age_bins = [0,17,24,34,49,10000]
bin_names = ["Under 18","18 to 24","25 to 34","34 to 49","50+"]

unique_users["Age Demographic"] = pd.cut(unique_users["Age"],age_bins,labels=bin_names)

group_by_demo = unique_users.groupby(["Age Demographic"])

age_demo_df = pd.DataFrame({
    "Count": group_by_demo["Age"].count(),
    "Percentage": group_by_demo["Age"].count()/player_count
})
age_demo_df["Percentage"] = ["{:.2f}%".format(val * 100) for val in age_demo_df["Percentage"]]
age_demo_df

                 Count Percentage
Age Demographic
Under 18           108     18.75%
18 to 24           296     51.39%
25 to 34           129     22.40%
34 to 49            43      7.47%
50+                  0      0.00%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
purchase_data["Age Demographic"] = pd.cut(purchase_data["Age"],age_bins,labels=bin_names)

group_purchases_by_demo = purchase_data.groupby(["Age Demographic"])

demo_purchase_counts = purchase_data["Age Demographic"].value_counts()
age_demo_analysis =  pd.DataFrame({
    "Purchase Count": group_purchases_by_demo["Item ID"].count(),
    "Average Purchase Price": group_purchases_by_demo["Price"].mean().map("${:.2f}".format),
    "Average Purchases Per Person": round(group_purchases_by_demo["Age Demographic"].count() / age_demo_df["Count"],2)
})
age_demo_analysis

,Purchase Count,Average Purchase Price,Average Purchases Per Person
Age Demographic,,,
Under 18,138,$3.05,1.28
18 to 24,414,$3.06,1.40
25 to 34,174,$2.91,1.35
34 to 49,54,$3.44,1.26
50+,0,$nan,NaN

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
unique_users["Total Purchase Amount"] = grouped_by_user["Price"].sum().map("${:.2f}".format)

users_sorted = unique_users.sort_values(by=['Total Purchase Amount'], ascending=False)

users_sorted.head(20)

,User Name,Gender,Age,Age Demographic,Total Purchase Amount
SN,,,,,
Haillyrgue51,Haillyrgue51,Male,7,Under 18,$9.50
Phistym51,Phistym51,Male,37,34 to 49,$9.50
Lamil79,Lamil79,Male,38,34 to 49,$9.29
Aina42,Aina42,Male,25,25 to 34,$9.22
Saesrideu94,Saesrideu94,Male,35,34 to 49,$9.18
Arin32,Arin32,Male,25,25 to 34,$9.09
Rarallo90,Rarallo90,Male,33,25 to 34,$9.05
Baelollodeu94,Baelollodeu94,Female,20,18 to 24,$9.03
Aelin32,Aelin32,Male,20,18 to 24,$8.98
Lisopela58,Lisopela58,Male,22,18 to 24,$8.86
Saedaiphos46,Saedaiphos46,Male,18,18 to 24,$8.83
Chanastnya43,Chanastnya43,Male,22,18 to 24,$8.82
Reunasu60,Reunasu60,Female,22,18 to 24,$8.82
Raesty92,Raesty92,Male,12,Under 18,$8.73
Sundadar27,Sundadar27,Male,31,25 to 34,$8.71
Aerithllora36,Aerithllora36,Female,29,25 to 34,$8.64
Hada39,Hada39,Male,19,18 to 24,$8.57
Chamilsala65,Chamilsala65,Female,23,18 to 24,$8.55
Silaera56,Silaera56,Male,21,18 to 24,$8.48
Frichocesta66,Frichocesta66,Male,20,18 to 24,$8.37

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [11]:
all_items = pd.DataFrame({
    "Item ID": purchase_data["Item ID"],
    "Item Name":  purchase_data["Item Name"],
    "Price":  purchase_data["Price"],
})
grouped_items = all_items.groupby(["Item ID", "Item Name"])

item_raw_data = pd.DataFrame({
    "Purchase Count":grouped_items["Price"].count(),
    "Price": grouped_items["Price"].first(),
    "Total Purchase Value": grouped_items["Price"].sum(),
})
item_raw_data = item_raw_data.sort_values(by=['Purchase Count'], ascending=False)
#item_popularity_analysis = item_raw_data

item_popularity_analysis = pd.DataFrame()

item_popularity_analysis["Purchase Count"] = item_raw_data["Purchase Count"]
item_popularity_analysis["Price"] = item_raw_data["Price"].map("${:.2f}".format)
item_popularity_analysis["Total Purchase Value"] = item_raw_data["Total Purchase Value"].map("${:.2f}".format)

item_popularity_analysis.head(20)

,,Purchase Count,Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16
103,Singed Scalpel,8,$4.35,$34.80
75,Brutality Ivory Warmace,8,$2.42,$19.36
72,Winter's Bite,8,$3.77,$30.16
60,Wolf,8,$3.54,$28.32
59,"Lightning, Etcher of the King",8,$4.23,$33.84
37,"Shadow Strike, Glory of Ending Hope",8,$3.16,$25.28
34,Retribution Axe,8,$2.22,$17.76
92,Final Critic,8,$4.88,$39.04
53,Vengeance Cleaver,7,$2.05,$14.35
110,Suspension,7,$1.44,$10.08
7,"Thorn, Satchel of Dark Souls",7,$1.33,$9.31
71,Demise,7,$1.61,$11.27
117,"Heartstriker, Legacy of the Light",7,$1.79,$12.53
159,"Oathbreaker, Spellblade of Trials",7,$3.08,$21.56
85,Malificent Bag,7,$1.75,$12.25

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [12]:
item_raw_data = item_raw_data.sort_values(by=['Total Purchase Value'], ascending=False)
item_profitability_analysis = item_raw_data
item_profitability_analysis["Purchase Count"] = item_raw_data["Purchase Count"]
item_profitability_analysis["Price"] = item_raw_data["Price"].map("${:.2f}".format)
item_profitability_analysis["Total Purchase Value"] = item_raw_data["Total Purchase Value"].map("${:.2f}".format)

item_profitability_analysis.head(20)

,,Purchase Count,Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80
59,"Lightning, Etcher of the King",8,$4.23,$33.84
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
78,"Glimmer, Ender of the Moon",7,$4.40,$30.80
72,Winter's Bite,8,$3.77,$30.16
60,Wolf,8,$3.54,$28.32
179,"Wolf, Promise of the Moonwalker",6,$4.48,$26.88
160,Azurewrath,6,$4.40,$26.40
25,Hero Cane,6,$4.35,$26.10
37,"Shadow Strike, Glory of Ending Hope",8,$3.16,$25.28
139,"Mercy, Katana of Dismay",5,$4.94,$24.70
128,"Blazeguard, Reach of Eternity",5,$4.91,$24.55
138,"Peacekeeper, Wit of Dark Magic",5,$4.74,$23.70
141,Persuasion,7,$3.19,$22.33
87,"Deluge, Edge of the West",5,$4.43,$22.15
159,"Oathbreaker, Spellblade of Trials",7,$3.08,$21.56